body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(99, 83, 83);
}
.container{
    width: 45%;
    height: 45vh;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 12px 12px 12px grey;
}

.display #ade {
    width: 98%;
    height: 70px;
    font-size: 30px;
    outline: none;
    border: none;
    text-align: right;
    background-color: white;
    border-radius: 6px;
}

.button {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button .ahmad button {
    width: 80px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 8px red,
                -5px -5px 8px blue;
}
#you {
    color: red;
}
#me {
    color: red;
}

.button button:active {
    transform: scale(0.90);
}

@media (max-width:768px){
    .display #ade {
        width: 98%;
        height: 30px;
        font-size: 30px;
        outline: none;
        border: none;
        text-align: right;
        background-color: white;
        border-radius: 6px;
}

.button {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button .ahmad button {
    width: 80px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 8px green,
                -5px -5px 8px blue;
}


}